stages:
  - build
  - deploy

variables:
  PIP_BREAK_SYSTEM_PACKAGES_OPTION: '--break-system-packages'

include: '/.gitlab-ci-windows.yml'

# Reusable sections
.common_setup:
  script: &common_setup_script
    - |
      mkdir -p $HOME/.local/bin $CI_PROJECT_DIR
      ls -la $HOME/.local/bin $CI_PROJECT_DIR
      touch $CI_PROJECT_DIR/.env_setup
      echo 'export PATH=$PATH:$HOME/.local/bin' >> $CI_PROJECT_DIR/.env_setup

.common_python_build:
  script: &common_python_build_script
    - |
      python3 -mpip install $PIP_BREAK_SYSTEM_PACKAGES_OPTION --user -r dev-requirements.txt
      python3 -mpip wheel --verbose --no-cache-dir --no-clean --no-build-isolation --wheel-dir dist/ .
      BUILD_LIB_DIR=$(find build -name "lib.*" -type d | head -1)
      python3 -mpip install $PIP_BREAK_SYSTEM_PACKAGES_OPTION -v --upgrade --target "$BUILD_LIB_DIR" --no-compile --ignore-installed --no-deps --no-index dist/[mM]2[cC]rypto*.whl
      echo "export BUILD_LIB_DIR=$BUILD_LIB_DIR" >> $CI_PROJECT_DIR/.env_setup
      echo "export PYTHONPATH=$BUILD_LIB_DIR" >> $CI_PROJECT_DIR/.env_setup

.common_tests:
  script: &common_tests_script
    - |
      ls -la $HOME/.local/bin $CI_PROJECT_DIR
      source $CI_PROJECT_DIR/.env_setup
      python3 -mdoctest -v src/M2Crypto/SSL/Checker.py
      python3 -munittest discover -b -v tests

.irc_notification:
  after_script: |
    echo "$IRC_PASS" > ~/.irc_pass && chmod 600 ~/.irc_pass
    echo "GitLab build task $CI_JOB_NAME for $REASON finished with the result $? ($CI_JOB_URL)." | .builds/irc-send irc.libera.chat glm2bot mcepl "#m2crypto"

.common_rules:
  rules:
    - if: "$CI_COMMIT_BRANCH =~ /^windows.*/"
      when: never
    - when: always

# Build jobs
python39:
  image: python:3.9-alpine
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - apk update
    - apk add --no-interactive swig gcc git musl-dev python3-dev python3 py3-pip openssl-dev openssl py3-setuptools py3-twisted py3-docutils py3-wheel
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

python3:
  image: python:3
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - apt-get update -q -y
    - apt-get install -y swig libssl-dev python3-dev python3-pip openssl python3-setuptools python3-twisted python3-pip python3-irc
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

alpine-32bit:
  image:
    name: i386/alpine:edge
    entrypoint: ["linux32"]
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - apk update
    - apk add --no-interactive swig gcc git musl-dev python3-dev python3 py3-pip openssl-dev openssl py3-setuptools py3-twisted py3-docutils py3-wheel
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

python3-32bit:
  image:
    name: i386/debian
    entrypoint: ["linux32"]
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - apt-get update -q -y
    - apt-get install -y swig gcc git libc6-dev python3-dev python3 python3-pip libssl-dev openssl python3-setuptools python3-twisted python3-docutils python3-wheel
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

python3-doctest:
  image: python:3
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - apt-get update -q -y
    - apt-get install -y swig libssl-dev python3-dev python3-pip openssl python3-setuptools python3-twisted python3-pip python3-irc
  script:
    - *common_setup_script
    - *common_python_build_script
    - |
      source $CI_PROJECT_DIR/.env_setup
      python3 -mpip install $PIP_BREAK_SYSTEM_PACKAGES_OPTION --user -r doc/requirements.txt
      PYTHONPATH=$(readlink -f build/lib.*) make -C doc/ doctest

fedora:
  image: quay.io/fedora/fedora:latest
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - dnf makecache
    - dnf install -y @development-tools fedora-packager rpmdevtools
    - dnf install -y swig python3-devel python3-pip openssl-devel openssl python3-setuptools python3-twisted openssl-devel-engine python3-irc
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

fedora-rawhide:
  image: quay.io/fedora/fedora:rawhide
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - dnf makecache
    - dnf install -y @development-tools fedora-packager rpmdevtools
    - dnf install -y swig python3-devel python3-pip openssl-devel openssl python3-setuptools python3-twisted openssl-devel-engine
  allow_failure: true
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

leap:
  image: opensuse/leap
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  artifacts:
    paths:
      - "src/SWIG/*.c"
  before_script:
    - zypper refresh
    - zypper install -y pattern:devel_rpm_build pattern:devel_C_C++ osc
    - zypper install -y swig python3-devel python3-pip libopenssl-devel openssl python3-service_identity python3-setuptools python3-Twisted
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

opensuse:
  image: opensuse/tumbleweed
  stage: build
  extends:
    - .common_rules
    - .irc_notification
  before_script:
    - zypper refresh
    - zypper install -y pattern:devel_rpm_build pattern:devel_C_C++ osc
    - zypper install -y swig python3-devel python3-pip libopenssl-devel openssl python3-service_identity python3-setuptools python3-Twisted
  script:
    - *common_setup_script
    - *common_python_build_script
    - *common_tests_script

build-sdist:
  image: python:3
  stage: build
  extends:
    - .common_rules
    - .common_setup
  artifacts:
    paths:
      - "dist/*.tar.gz"
  before_script:
    - apt-get update -q -y
    - apt-get install -y swig libssl-dev python3-dev python3-pip openssl python3-setuptools python3-twisted python3-pip
  script: |
    source $CI_PROJECT_DIR/.env_setup
    python3 -mpip install $PIP_BREAK_SYSTEM_PACKAGES_OPTION --user -r dev-requirements.txt
    python3 -mbuild . --sdist

release-pypi:
  stage: deploy
  image: python:latest
  dependencies:
    - build-test-windows
    - build-sdist
  id_tokens:
    PYPI_ID_TOKEN:
      aud: pypi
  script:
    - echo "Built artifacts:"
    - ls dist/
    - apt update && apt install -y jq
    - python -m pip install -U twine id
    - oidc_token=$(python -m id PYPI)
    - resp=$(curl -X POST https://pypi.org/_/oidc/mint-token -d "{\"token\":\"${oidc_token}\"}")
    - api_token=$(jq --raw-output '.token' <<< "${resp}")
    - twine upload -u __token__ -p "${api_token}" dist/*
  rules:
    - if: $CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/
      when: manual
